<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Try Out VueJS</title>
    <style>
      .completed { text-decoration: line-through; }
    </style>
  </head>
  <body>
    <div id="app">
      <tasks-list :list="tasks"></tasks-list>
    </div>

    <template id="tasks-template">
      <div>
        <h1>My Tasks
          <span v-show="remaining">({{ remaining }})</span>
        </h1>
        <ul v-if="list.length">
          <li v-for="(task, index) in list" @click="task.completed = ! task.completed">
            <span :class="{ 'completed': task.completed }">{{ task.body }}</span>
            <strong @click="deleteTask(index)">x</strong>
          </li>
        </ul>
        <p v-else>No tasks yet!</p>
        <button @click="clearCompleted">Clear Completed</button>
      </div>
    </template>

    <script src="https://unpkg.com/vue@2.5.9/dist/vue.js" charset="utf-8"></script>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
