<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Try Out VueJS</title>
  </head>
  <body>
    <div id="app">
      <h1>Hello, {{ fullName }}!</h1>
      <input type="text" v-model="first" placeholder="First Name">
      <input type="text" v-model="last" placeholder="Last Name">
    </div>

    <script src="https://unpkg.com/vue@2.5.9/dist/vue.js" charset="utf-8"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          first: 'Ryan',
          last: 'Choi',
          fullName: 'Ryan Choi'
        },
        watch: {
          first: function(first) {
            this.fullName = first + ' ' + this.last;
          },
          last: function(last) {
            this.fullName = this.first + ' ' + last;
          }
        }
      });
    </script>
  </body>
</html>
