.alert {
  position: relative;
  background: #ddd;
  padding: 1em;
}

.alert__close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-weight: bold;
  cursor: pointer;
}

.alert--success {
  background: green;
  color: #fff;
}

.alert--error {
  background: red;
  color: #fff;
}
